.invert_section{
    background-color: #212851!important;
    color: white!important;
}
.content{
    text-align: center;
    padding-left: 19%;
    padding-right: 24%;
    font-family: robotoslab_regular;
    height: 100%;
    padding-bottom:45px;
    width: auto;
}
.section_nous{
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.section_content{
    padding-left: 8.53%;
}
input{
    text-align: center;
    width: 230px;
    height: 40px;
    margin: 10px;
    border: 1px solid #212851!important;
}
.social_icon{
    margin: 5px;
    width: 37px;
    height: 38px;
    border: none!important;
}
table{
    margin: 22px;
}
.contact_section{
    width: fit-content;
    margin-top: 30px; 
}
.subscription_section{
    width: fit-content;
}
.social_section{
    display: inline-block;
    /*width: fit-content;*/
    min-width: 148px;
    margin-top: 30px;
    margin-bottom: 30px;

}
.carousel-control.left, .carousel-control.right {
    background-image: none
}
.email_input{
}
@media (max-width: 768px) {
}
@media (min-width: 1400px) {
   .section_nous{
        background-image: url('../images/nous_fond.jpg');
    }
}