.section_nous{
    background-image: url('../images/nous_fond.jpg');
}
.invert_section{
    background-color: #212851!important;
    color: white!important;
    width: 100%;
}
.section_content{
    text-align: center;
}
.section_about_content{
    margin-left: 66px; 
}