
nav{
}
.navbar-fixed-top {
    min-height: 80px;
}
.menu-item{
    color: #212851!important;
    font-size: 12pt;
    font-variant: small-caps;
    font-family: robotoslab_regular!important;
    margin: 10px;
    padding: 0px!important;
    width: fit-content;
}
nav a .active{
    font-family: robotoslab_bold!important;
    border-bottom: 5px solid #212851!important;
}
nav li .active{
    font-family: robotoslab_bold!important;
    border-bottom: 5px solid #212851!important;
}
nav a:hover{
    font-family: robotoslab_bold!important;
}
.navbar-nav li a {
    margin-top:30%;
}
.navbar{
    position: relative;
    /*height: 100px;*/
}
.navbar-brand{
    font-family: chasingambers_one!important;
    color: #212851!important;
    position: absolute;
    left:45%;
    margin-left: -50px !important;
    display: block;
    height: 72pt;
}
.header-cart{
    float: right;
    position: absolute;
    left:98%;
    top:40%;
    margin-left: -50px !important;
    display: block;
    text-align: left!important;
}
.cart_image{
    height: 14px;
    width: 19px;
    margin: 0px!important;
    border:none!important;
}
@media (max-width: 768px) {
    .navbar-nav li a {
        margin-top:0%;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .header-cart{
        position: absolute;
        left:10%;
        top:10%;
        margin-left: -50px !important;
        display: block;
        height: 100px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}