@font-face {
font-family:robotoslab_regular;
src: url(../fonts/Roboto_Slab/RobotoSlab-Regular.ttf); /* TTF file for CSS3 browsers */
}
@font-face {
font-family:robotoslab_bold;
src: url(../fonts/Roboto_Slab/RobotoSlab-Bold.ttf); /* TTF file for CSS3 browsers */
}
@font-face {
font-family:chasingambers_one;
src: url(../fonts/Chasing_Embers/Chasing_Embers_One.ttf); /* TTF file for CSS3 browsers */
src: url(../fonts/Chasing_Embers/Chasing_Embers_One.otf?#iefix); 
}
@font-face {
font-family:chasingambers_two;
src: url(../fonts/Chasing_Embers/Chasing_Embers_Two.ttf); /* TTF file for CSS3 browsers */
src: url(../fonts/Chasing_Embers/Chasing_Embers_Two.otf?#iefix); 
}
body{
    font-size: 11pt;
}
nav{
    margin: 0px!important;
    margin-top:50%; 
}
nav a{
    color: #212851!important;
    font-size: 15pt;
    font-variant: small-caps;
    font-family: robotoslab_regular!important;
    padding: 5px!important;
    margin: 10px;
    width: fit-content;
}
nav a .active{
    font-family: robotoslab_bold!important;
    border-bottom: 5px solid #212851!important;
}
nav li .active{
    font-family: robotoslab_bold!important;
    border-bottom: 5px solid #212851!important;
}
nav a:hover{
    font-family: robotoslab_bold!important;
}
div .col-md-12{
    padding: 0px;
}
.brand_logo{
    height: 75px;
}
.section_title{
    color:  #212851;
    font-size: 50pt;
    font-family: chasingambers_one!important;
    float: left;
}
.section_title_invert{
    color: white!important;
    font-size: 50pt;
    font-family: chasingambers_one!important;
    float: left;
}
.text_invert{
    color: white!important;
    font-size: 11pt;
    font-family: robotoslab_regular!important;
}
.sub_title{
    font-family: robotoslab_bold!important;
}
.text{
    color: #212851!important;
    font-size: 11pt;
    font-family: robotoslab_regular!important;
    text-align: center;
}
.text_bold{
    color: #212851!important;
    font-size: 11pt;
    font-family: robotoslab_bold!important;
    text-align: center;
}
.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer;
}
button{
    background-color:  #212851!important;
    border: none;
    color: white;
    font-family: robotoslab_bold!important;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
}
/*@media (max-width: 1300px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}*/