@font-face {
font-family:robotoslab_regular;
src: url(../fonts/Roboto_Slab/RobotoSlab-Regular.ttf); /* TTF file for CSS3 browsers */
}
@font-face {
font-family:robotoslab_bold;
src: url(../fonts/Roboto_Slab/RobotoSlab-Bold.ttf); /* TTF file for CSS3 browsers */
}
@font-face {
font-family:chasingambers_one;
src: url(../fonts/Chasing_Embers/Chasing_Embers_One.ttf); /* TTF file for CSS3 browsers */
src: url(../fonts/Chasing_Embers/Chasing_Embers_One.otf?#iefix); 
}
@font-face {
font-family:chasingambers_two;
src: url(../fonts/Chasing_Embers/Chasing_Embers_Two.ttf); /* TTF file for CSS3 browsers */
src: url(../fonts/Chasing_Embers/Chasing_Embers_Two.otf?#iefix); 
}
html{
  position:relative; 
  height: 100%;
  box-sizing: border-box;
}
body{
    min-width:350px;
    padding-top: 85px;
    font-size: 10pt;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}
div .col-md-12{
    padding: 0px;
}
.section_title{
    color:  #212851;
    font-size: 50pt;
    font-family: chasingambers_one!important;
    float: left;
}
.section_title_invert{
    color: white!important;
    font-size: 50pt;
    font-family: chasingambers_one!important;
    float: left;
}
.text_invert{
    color: white!important;
    font-family: robotoslab_regular!important;
}
.sub_title{
    font-family: robotoslab_bold!important;
}
.text{
    color: #212851!important;
    font-family: robotoslab_regular!important;
    text-align: center;
}
.text_bold{
    color: #212851!important;
    font-family: robotoslab_bold!important;
    text-align: center;
}
.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer;
}
button{
    background-color:  #212851!important;
    border: none;
    color: white;
    font-family: robotoslab_bold!important;
    font-variant: small-caps;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
}
.content_view{
    height: 100%;
}
footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}
@media (max-width: 768px) {
   .section_nous{
        background-image:none;
    }
    .section_title{
        float: none;
    }
    .section_title_invert{
        float: none;
    }
}