@font-face {
font-family:robotoslab_regular;
src: url(../fonts/Roboto_Slab/RobotoSlab-Regular.ttf); /* TTF file for CSS3 browsers */
}
@font-face {
font-family:robotoslab_bold;
src: url(../fonts/Roboto_Slab/RobotoSlab-Bold.ttf); /* TTF file for CSS3 browsers */
}
@font-face {
font-family:chasingambers_one;
src: url(../fonts/Chasing_Embers/Chasing_Embers_One.ttf); /* TTF file for CSS3 browsers */
src: url(../fonts/Chasing_Embers/Chasing_Embers_One.otf?#iefix); 
}
@font-face {
font-family:chasingambers_two;
src: url(../fonts/Chasing_Embers/Chasing_Embers_Two.ttf); /* TTF file for CSS3 browsers */
src: url(../fonts/Chasing_Embers/Chasing_Embers_Two.otf?#iefix); 
}
nav{
    margin: 0px!important;
    margin-top:50%; 
}
nav a{
    color: #212851!important;
    font-size: 15px;
    font-variant: small-caps;
    font-family: robotoslab_regular!important;
    padding: 5px!important;
    margin: 15px;
}
nav a:hover{
    font-family: robotoslab_bold!important;
    border-bottom: 5px solid #212851!important;
}
.navbar-header {
    text-align: center;
    width: 100%;
}
.navbar-brand {
}
div .col-md-12{
    padding: 0px;
}
.section_title{
    color: #212851!important;
    font-size: 72px;
    font-family: chasingambers_one!important;
}
.section_title_invert{
    color: white!important;
    font-size: 72px;
    font-family: chasingambers_one!important;
}
.text_invert{
    color: white!important;
    font-size: 13px;
    font-family: robotoslab_regular!important;
}
.sub_title{
    font-family: robotoslab_bold!important;
}
.text{
    color: #212851!important;
    font-size: 13px;
    font-family: robotoslab_regular!important;
    text-align: center;
}