.poduct_detail_image{
    float: right;
    height: 100%;
    width: 100%;
}
.poduct_detail_image_list{
    padding-left:10%;
    margin-bottom: 5px; 
    height: 100%;
    width: 100%;
}
.modal-dialog{
    margin-top:25%;
}
.checkoutBtn{
    width: 200.25px;
}
.link{
    margin: 0px!important;
}
#btnContinue{
    float:left;
    margin:5px; 
}
#btnCheckout{
    float:right;
    margin:5px;
}
@media (max-width: 768px) {
   .poduct_detail_image{
       float: left;
    }
    #image_detail_section{
        display: none;
    }
}
@media (max-width: 480px) {
    .checkoutBtn{
        display: inline-block;
        vertical-align: middle;
    }
   #btnCheckout{
       float:left;
       margin-top:10px;
   }
   .modal-content{
       width: fit-content;
       margin-left:15%;
       width:10%;
       height: 10%;
   }
}