.poduct_image{
    margin-right:45px;
    height: 100%;
    width: 100%; 
}
.store_banner{
    width: 100%;
}
.banner_section{
    margin-right:10%;
    margin-left:10%;
}
.product_section{
    display: inline-block;
    margin-right:10%;
    margin-left:10%;
    margin-top:45px;
}
.product{
    text-align:center;
    width: fit-content;
    height: fit-content;
}