table{
}
.poduct_image{
    height: 400px;
    width: 400px;
}
.poduct_detail_image{
    height: 400px;
    width: 400px;
}
tr{
}
td{
    padding: 22px;
}
.product_table{
    margin-left: 20%;
    margin-top: 5%;
}