
<link rel="stylesheet" href="css/about.css">
<div class="container-fluid" style="padding:0px">
    <!--******************************CAROUSSEL********************************-->
    <div ng-controller="carouselCtrl">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.image}}" style="margin:0 auto;max-width: 100%;\9; /* ie8 */">
                <div class="carousel-caption">
                </div>
            </div>
        </div>
    </div>
    <!--****************************SECTION NOUS*******************************-->
    <div ng-controller="aboutCtrl">
        <div class="content section_nous" >
            <div class="row">
                    <span class="section_title">nous</span>
            </div>
            <div class="section_content">
                <div class="row">
                    <span class="text">Be Vert Granola réveillera vos matins comme un rayon de soleil d’été par ses notes de caramel et d’amandes rôties
                    rehaussé de noix de coco, infusé dans un beurre au parfum de vanille.
                    Respectez l’environnement en savourant ce produit biologique. Un autre pas vert une planète verte.</span>
                </div>
                <br>
                <div class="row">
                    <span class="text">Be Vert Granola will wake up your morning like a ray of sunshine on bright summer day, with its notes of caramel
                    and roasted almonds sublimed with coconut , infused in a perfume of vanilla butter. Respect for the environment
                    by using an organic product. A step toward a green planet</span>
                </div>
            </div>
        </div>
        <!--************************SECTION NOUS TROUVER***************************-->
        <div class="invert_section">
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <span class="section_title_invert">nous trouver</span>
                    </div>
                </div>
                <div class="section_content">
                    <div class="row">
                        <div class="col-sm-4 col-md-4" >
                            <span class="sub_title">Eau Vive</span><br/>
                            <span>3248 St Georges,</span><br/>
                            <span>Mt-St-Hilaire, QC J3H 2Y1</span><br/>
                            <span>450.464.5767</span><br/><br/>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <span class="sub_title">Richmond</span><br/>
                            <span>333 Richmond,</span><br/>
                            <span>Montréal, QC H3J 1T9</span><br/>
                            <span>514.508.8749</span><br/><br/>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <span class="sub_title" >L'autre choix</span><br/>
                            <span>330 Avenue Victoria,</span><br/>
                            <span>Westmount, QC H3Z 2M8</span><br/>
                            <span>514.369.1888</span><br/><br/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <span class="sub_title" >Indigo Café</span><br/>
                            <span>Place Montréal Trust, 1500 McGill College Ave,</span><br/>
                            <span>Montreal, QC H3A 3J5</span><br/>
                            <span>514.281.5549​​</span><br/><br/>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <span class="sub_title">Maitre Boucher</span><br/>
                            <span>5719 Av de Monkland,</span><br/>
                            <span>Montréal, QC H4A 1E7</span><br/>
                            <span>514.487.1437</span><br/><br/>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <span class="sub_title">Fou d'ici</span><br/>
                            <span>360 Boulevard de <br>Maisonneuve O,</span><br/>
                            <span>Montréal, QC H3A 0G6</span><br/>
                            <span>514.600.3424</span><br/><br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--*************************SECTION NOUS SUIVRE***************************-->
        <div class="content">
            <div class="row">
                <div class="col-md-12" >
                    <span class="section_title">nous suivre</span>
                </div>
            </div>
            <div class="section_content">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="contact_section vcenter">
                            <span>514.891.1841</span><br>
                            <span>bevert.granola@gmail.com</span><br>
                            <span>be-vert.com</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="social_section vcenter">
                            <input type="image" class="social_icon" ng-click="redirect('facebook')" src="../images/facebook_crop.bmp"/>
                            <input type="image" class="social_icon" ng-click="redirect('instagram')" src="../images/instagram_crop.png"/>
                            <input type="image" class="social_icon" src="../images/pinterest_crop.png"/>
                        </div>
                    </div>
                    <!--<div class="col-md-4" >
                        <div class="subscription_section vcenter">
                            <span class="sub_title" style="font-variant: small-caps; color: #212851;">gardons contact | stay in touch</span><br/>
                            <input class="email_input" placeholder=" votre adresse | your email"/><br/>
                            <button style="font-size:10pt">S'ABONNER</button>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->