<!--
Test card number authorized
4242424242424242
4012888888881881
5555555555554444
Test card declined
4000000000000002
-->
<link rel="stylesheet" href="../css/product.css">
<div class="container-fluid">
    <div ng-controller="productCtrl">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <input class="poduct_detail_image" type="image" ng-src="{{selectedProduct.img}}"/>
            </div>
            <div class="col-sm-6 col-md-6">
                <div style="float:right">
                    <div>
                        <span class="text_bold">{{selectedProduct.title}}</span>
                    </div>
                    <br>
                    <div>
                        <span class="text_bold">{{selectedProduct.price}}$</span>
                    </div>
                    <br>
                    <div>
                        <span class="text_bold">QNT.</span>
                    </div>
                    <div>
                        <input class="text" style="border:1px solid;text-align:center; max-width:50px" data-ng-model="quantity"/>
                    </div>
                    <br>
                    <div>
                        <button
                            class="snipcart-add-item"
                            data-item-id="{{selectedProduct.id}}"
                            data-item-name="{{selectedProduct.title}}"
                            data-item-price="{{selectedProduct.price}}"
                            data-item-weight="{{selectedProduct.weight}}"
                            data-item-url="{{selectedProduct.url}}"
                            data-item-description="{{selectedProduct.description}}"
                            data-item-taxable="true"
                            data-item-taxes="TPS|TVQ"
                            data-item-quantity="{{quantity}}"
                            ng-click="toggleModal()">
                            Ajouter au panier
                        </button>
                    </div>
                    <br>
                    <div>
                        <span class="text">{{selectedProduct.descriptionF}}</span>
                    </div>
                    <br>
                    <div>
                        <span class="text">{{selectedProduct.descriptionA}}</span>
                    </div>
                    <br>
                    <div >
                        <span class="text_bold" style="font-variant: small-caps;">INGRÉDIENTS</span>
                    </div>
                    <div >
                        <span class="text">{{selectedProduct.ingredients}} </span>
                    </div>
                    <br>
                    <div >
                        <span class="text_bold" style="font-variant: small-caps;">INFORMATIONS NUTRITIONNELLES</span>
                    </div>
                    <div>
                        <img src="{{selectedProduct.ingimgae}}"/>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-6">
                    <button ng-click="redirectToStore()"> Magasin / Store </button>
                  </div>
                  <div class="col-md-6">
                    <div class="text snipcart-summary">
                        <a href="" class="snipcart-checkout menu-item">
                            <button data-dismiss="modal"> Payer / Checkout </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->