<!--
Test card number authorized
4242424242424242
4012888888881881
5555555555554444
Test card declined
4000000000000002
-->
<div class="container-fluid">
    <div ng-controller="productCtrl">
        <div style="">
            <div >
                <img ng-src="{{selectedProduct.img}}"/>
                <div style="float:right">
                    <div>
                        <span>{{selectedProduct.title}}</span>
                    </div>
                    <div>
                        <span>{{selectedProduct.price}}</span>
                    </div>
                    <div>
                        <span>QNT.</span>
                    </div>
                    <div>
                        <input style="border:1px solid"/>
                    </div>
                    <div>
                        <button
                            class="snipcart-add-item"
                            data-item-id="{{selectedProduct.id}}"
                            data-item-name="{{selectedProduct.title}}"
                            data-item-price="{{selectedProduct.price}} "
                            data-item-weight="{{selectedProduct.weight}}"
                            data-item-url="{{selectedProduct.url}}"
                            data-item-description="{{selectedProduct.description}}">
                            Ajouter au panier
                        </button>
                    </div>
                    <div>
                        <span class="text">Be Vert Granola réveillera vos matins comme un rayon de soleil d’été par ses notes de caramel et d’amandes rôties<br/>
                        rehaussé de noix de coco, infusé dans un beurre au parfum de vanille.<br/>
                        Respectez l’environnement en savourant ce produit biologique. Un autre pas vert une planète verte.</span>
                    </div>
                    <div>
                        <span class="text">Be Vert Granola will wake up your morning like a ray of sunshine on bright summer day, with its notes of caramel<br/> 
                        and roasted almonds sublimed with coconut , infused in a perfume of vanilla butter. Respect for the environment<br/>
                        by using an organic product. A step toward a green planet</span>
                    </div>
                    <div>
                        <span>Ingrédients</span>
                    </div>
                    <div>
                        <span>Avoine bio, noix de coco bio, sucre de canne bio, beurre bio, eau, amandes bio et extrait de vanille bio. </span>
                    </div>
                    <div>
                        <img src="{{selectedProduct.ing}}"/>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
    </div>
</div>