<!--
Test card number authorized
4242424242424242
4012888888881881
5555555555554444
Test card declined
4000000000000002
-->
<link rel="stylesheet" href="../css/product.css">
<div class="container-fluid">
    <div >
        <div class="product_page">
            <div class="row">
                <div class="col-sm-1 col-md-1">
                    <div id="image_detail_section" ng-show="listImageDetails.length > 0">
                        <div class="image_tumbtail" ng-repeat="imageSource in listImageDetails track by imageSource.id">
                            <input class="poduct_detail_image_list" type="image" ng-src="{{imageSource.src}}" ng-click="setDisplayImage(imageSource)"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-md-5">
                    <input class="poduct_detail_image" type="image" ng-src="{{displayProductImage}}"/>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div style="float:right">
                        <div>
                            <span class="text_bold">{{selectedProduct.name}}</span>
                        </div>
                        <br>
                        <div>
                            <span class="text_bold">{{selectedProduct.price}} $</span>
                        </div>
                        <br>
                        <div>
                            <span class="text_bold">QNT.</span>
                        </div>
                        <div>
                            <input class="text" style="border:1px solid;text-align:center; max-width:50px" data-ng-model="quantity"/>
                        </div>
                        <br>
                        <div id="cart_btn">
                            <button ng-show="{{hasOptions}}"
                                class="snipcart-add-item"
                                data-item-id="{{selectedProduct.id}}"
                                data-item-name="{{selectedProduct.name}}"
                                data-item-price="{{selectedProduct.price}}"
                                data-item-image="{{selectedProduct.image}}"
                                data-item-weight="{{selectedProduct.weight}}"
                                data-item-url="{{selectedProduct.url}}"
                                data-item-quantity="{{quantity}}"
                                data-item-taxable="true"
                                data-item-custom1-name="{{options.name}}"
                                data-item-custom1-options="{{options.options}}"
                                data-item-custom1-value="{{options.value}}"
                                ng-click="toggleModal()">
                                Ajouter au panier
                            </button>
                            <button ng-hide="{{hasOptions}}"
                                class="snipcart-add-item"
                                data-item-id="{{selectedProduct.id}}"
                                data-item-name="{{selectedProduct.name}}"
                                data-item-price="{{selectedProduct.price}}"
                                data-item-image="{{selectedProduct.image}}"
                                data-item-weight="{{selectedProduct.weight}}"
                                data-item-url="{{selectedProduct.url}}"
                                data-item-quantity="{{quantity}}"
                                data-item-taxable="true"
                                ng-click="toggleModal()">
                                Ajouter au panier
                            </button>
                        </div>
                        <br>
                        <div>
                            <span class="text">{{selectedProduct.description}}</span>
                        </div>
                        <br>
                        <div>
                            <span class="text">{{selectedProduct.descriptionA}}</span>
                        </div>
                        <br>
                        <div >
                            <span class="text_bold" ng-show="selectedProduct.ingredientsF" style="font-variant: small-caps;">INGRÉDIENTS</span>
                        </div>
                        <div >
                            <span class="text">{{selectedProduct.ingredientsF}} </span>
                            <br>
                            <br>
                            <span class="text">{{selectedProduct.ingredientsA}} </span>
                        </div>
                        <br>
                        <div>
                            <img src="{{selectedProduct.ingimgae}}"/>
                        </div>
                    </div>
                </div>
                <!-- /.container -->
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <div class="container-fluid">
              <div class="row">
                <div>
                    <button class="checkoutBtn" id="btnContinue" ng-click="redirectToStore()"> Magasin / Store </button>
                </div>
                <div class="text snipcart-summary" id="btnCheckout">
                    <a href="" class="snipcart-checkout menu-item link">
                        <button class="checkoutBtn" data-dismiss="modal"> Payer / Checkout </button>
                    </a>
                </div>
            </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->