<link rel="stylesheet" href="css/store.css">
<div class="container-fluid">
    <div class="product_table">
        <div style="float:left">
            <table>
                <tr>
                    <td style="text-align:center">
                        <div style="float:right">
                            <div>
                                <img src="../images/sac_02.jpg">
                            </div>
                            <div>
                                <span class="text_bold">Amandes &amp coco</span>
                            </div>
                            <div>
                                <span class="text">12,00$</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="../images/boutique_01.jpg">
                    </td>
                </tr>
            </table>
        </div>
        <div style="float:left">
            <table>
                <tr>
                    <td><img src="../images/boutique_02.jpg"></td>
                </tr>
                <tr>
                    <td style="text-align:center">
                        <div style="float:left">
                            <img src="../images/sac_02.jpg">
                            <div>
                                <span class="text_bold">Érables &amp pacanes</span>
                            </div>
                            <div>
                                <span class="text">12,00$</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- /.container -->

