<link rel="stylesheet" href="../css/store.css">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="banner_section">
                <img class="store_banner" src="../images/boutique_03.jpg" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="product_section">
            <div ng-repeat="product in products" >
                <div class="product" >
                    <div class="col-sm-4 col-md-4"  >
                        <div ui-sref="product({id:product.id})">
                            <div>
                                <input class="poduct_image" type="image" ng-src="{{product.image}}">
                            </div>
                            <div>
                                <span class="text_bold">{{product.name}}</span>
                            </div>
                            <div>
                                <span class="text">{{product.price}} $</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- /.container -->
