
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<nav class="navbar">
  <div class="container-fluid">
    <div class="row header">
      <div class="col-md-4 header_nav">
          <a [routerLink]="['/about']">À PROPOS</a>
          <a >POINT DE VENTE</a>
          <a >CONTACT</a>
          <a >BOUTIQUE</a>
      </div>
      <div class="col-md-4">
        <span class="page_title">be vert</span>
      </div>
      <div class="col-md-4">
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</nav>
<router-outlet></router-outlet>